$fullWidth: 100%;
$fontFamily: 'Amatic SC', cursive;
$fontSize: 1.3rem;

body {
	a {
		font-family: $fontFamily;
		font-size: $fontSize;
	}
	p {
		font-family: $fontFamily;
		font-size: $fontSize+0.5;
	}
	label {
		font-family: $fontFamily;
		font-size: $fontSize;
	}
	input {
		font-family: $fontFamily;
		font-size: $fontSize;
	}
	button {
		font-family: $fontFamily;
		font-size: $fontSize+0.3;
	}
	img {
		transition:0.2s;
	}

	img:hover {
		transform: scale(1.002);
	}
	h2 {
		font-family: $fontFamily;
	}
	h4 {
		font-family: $fontFamily;
		font-size: $fontSize+1;
		margin-left: 2%;
		margin-top: 1%;
	}
	h3 {
		font-family: $fontFamily;
		font-size: $fontSize+0.2;
		color: black;
	}

}

footer {
	a:hover {
		color: #226597;
		text-decoration: none;
		display: inline-block;
		transform: scale(1.1);
	}
}

ol {
	li {
		list-style: none;
		a {
			color: black;
		}
	}
}

ul {
	li {
		list-style: none;
	}
}

a {
	color: white;
	text-decoration: none;
}

.navbar__logo {
	display: inline-block;
	width: 8%;
	height: 8%;
}

.navbar__logo--tamano {
	width: $fullWidth;
	height: 100%;
	margin: 0;
	animation-name: fading;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
}

.main__imagenes--display {
	float:left;
	width:50%;
}

.card {
	width: 18rem;
	margin:20px;
	h2 {
		color:black;
	}
}

@each $number in one, two, three, four, five, six, seven, eight {
	#card__#{$number}--color{
		background-color: #EABD8C;
		/*background-color: #87c0cd;*/
		border-color: black;
	}
}

.footerMain__fondo--color {
	background-image: linear-gradient(#87c0cd,#226597);

	label {
		font-family: $fontFamily;
		color: white;
	}
}

.footerMain__lists--display {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footerMain__list {
	display: flex;
	width: 20%;
	height: 25%;
	text-align: center;
	margin-top: 2%;
}

.footerMain__list--title {
	font-size: $fontSize + 0.1;
}

.footerMain__logo--tamano {
	width: 7%;
	height: 7%;	
}

.footer__copyright--fondo {
	background-color: #113f67;
	label {
		color: white;
		font-family: 'Exo', sans-serif;
		font-size: 0.5em;
	}
}

.navbar-nav {
	display: flex;
	width: $fullWidth;
	justify-content: space-around;
}

.navbar-toggler {
	z-index: 10;
}

.nav__link--hover:hover a{
	color:#145374;
	font-size: $fontSize + 0.1;
}

.container__contacto {	
	margin: 0%;
}

#contacto__area {
	padding-top: 10%;
	text-align: center;
	p {
		color: black;
	}
}
.submain {
	margin-bottom: 20px;
}
.submain__img--tamano {
	width: 100%;
}

.nav-link:hover{ 
	color: white; 
}	

.nav-item {
	position: relative;
	display: inline-block;
}

.navbar__background--color {
	background-color: #145374;
}

.navbar__sublist {
	display: none;
	position: absolute;
	z-index: 1;
}

.main{
	display: inline-block;
}

.footerMain {
	margin-top: -20px;	
	a {
		color: white;
	}
}

.mainSub {
	display: inline-flex;
}

.mainSub img {
	width:100%;
	transition: 0.2s;
}

@media screen and (min-width: 900px){

	.nav-item:hover .navbar__sublist {
		display: block;
	}
}

@media screen and (max-width: 900px){

	.navbar__logo--tamano {
		width: 90px;
		height: 90px;
	}
}

@media (max-width: 760px){
	.main__imagenes--display  {
		float:left;
		width: $fullWidth;
	}
	.footerMain__list ul {
		margin:auto;
		width:70%;
		padding: 0;
	}

}

@keyframes fading {
	0% {
		opacity: 25%;
	}

	50%{
		opacity: 100%;
	}

	100% {
		opacity: 25%;
	}
	
}
